body{
    background-color: rgb(87, 245, 158);
}
h1{
  font-size: 82px;
  color: blue;
  display: block;
  text-align: center;

}

img {
  height: 650px; 
  border: 3px blue solid;
  border-radius: 15px;
}
nav li {
  display: inline;
  text-align: center;
margin-left: 35px;
margin-right:35px;
font-weight: bold;
font-size 32px

}
nav ul{
text-align: center;
}
